<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup_Login_page</title>
     <!-- SweetAlert2 -->
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Adding fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- adding css static file -->
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <form class="custom-form" method="POST" action="/user/signup">
      <h1>Sign-Up</h1>
      <div class="mb-3">
        <label for="exampleInputName1" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputName1"
          name="Name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="Email"
          autocomplete="email"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          autocomplete="current-password"
          name="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <% if (typeof message !== 'undefined' && message) { %>
    <div class="custom-alert"><%= message %></div>
    <% } %>

    <!-- <script src="/script.js"></script> -->
     
     <% if (success && success.length > 0) { %>
  <script>
    Swal.fire({
      toast: true,
      position: 'top-end',
      icon: 'success',
      title: `<%= success[0].replace(/"/g, '\\"') %>`,
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true
    });
  </script>
<% } %>

<% if (error && error.length > 0) { %>
  <script>
    Swal.fire({
      toast: true,
      position: 'top-end',
      icon: 'error',
      title: `<%= error[0].replace(/"/g, '\\"') %>`,
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true
    });
  </script>
<% } %>

     
  </body>
</html>
